.containerStyles{
    width: 250px;
    border-radius: 25px !important;
   
}

.outer-container {
    display: flex;
    justify-content: center; 
    align-items: center; 

  }
.backImage{
    background: url('assets/earthImage.jpg');
    background-size: cover;
}